body {
  margin: 0;
  padding: 0;
}

.LeftNavigation {
  width: 25%;
}

.MapPosition {
  flex: 1;
  height: 90%;
}

.MainWindow {
  display: flex;
  flex-direction: row;
}

.BottomJSON {
  width:100%;
  height:20vh;
  overflow: auto;
}